p{
    background-color: rgb(224, 215, 226);
    display: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
div{
    background-color: rgb(142, 128, 228);
}